.Register {
    text-align: center;
    color: white;    
}

.nome {
    padding-right: 80px;
}

.valor {
    padding-right: 80px;
}

.form {
    text-align: start;
    padding-left: 20px;        
}

.descricao {
    padding-right: 80px;    
}

.button {
    background-color: green;
    color: aliceblue;
}

.label {
    margin-right: 10px;
}

.body {
    min-height: 100vh;
    background-color: #0822c4;
}